@page "{slug}"
@using Domain.Entities.BlogModel
@model Sh.Web.Pages.Portfolio.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Project";
}

@section Head {
    @{
        var imgUrl = $"https://shakhlo.uz{Model.Project.CoverPhotoPath}";
        var projectUrl = $"https://shakhlo.uz/portfolio/{Model.Project.Slug}";
        var projectTags = $"{Tag.ConvertTagsToString(Model.Project.Tags)}";
    }

    <meta name="author" content="@Localizer["AuthorFullName"]" />
    <meta name="description" content="@ViewData["ProjectDesription"]" />
    <meta name="keywords" content="@projectTags" />
    <meta name="image" content="@imgUrl" />

    <meta property="og:url" content="@projectUrl" />
    <meta property="og:type" content="project" />
    <meta property="og:title" content="@ViewData["ProjectTitle"]" />
    <meta property="og:site_name" content="Shakhlo's Portfolio" />
    <meta property="og:description" content="@ViewData["ProjectDesription"]" />
    <meta property="og:image" content="@imgUrl" />

    <meta property="article:published_time" content="@Model.Project.PostedDate.ToShortDateString()" />
    <meta property="article:author" content="@Localizer["AuthorFullName"]" />
    <meta property="article:tags" content="@projectTags" />

    <meta name="twitter:title" content="@ViewData["ProjectTitle"]" />
    <meta name="twitter:site" content="Shakhlo's Portfolio" />
    <meta name="twitter:description" content="@ViewData["ProjectDesription"]" />
    <meta name="twitter:creator" content="@Localizer["AuthorFullName"]" />
    <meta name="twitter:image" content="@imgUrl" />
}

@section CSS {
    <link rel="stylesheet" href="~/css/portfolio_style.css" />
}

<!--================ Start Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>@ViewData["ProjectTitle"]</h2>
                <div class="page_link">
                    <a asp-area="" asp-page="/Index">@Localizer["Home"]</a>
                    <a asp-page="/Portfolio/List">@Localizer["Portfolio"]</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Banner Area =================-->
<!--================Start Portfolio Details Area =================-->
<section class="portfolio_details_area section-margin">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <div class="portfolio_details_inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="left_img">
                                @if (!string.IsNullOrEmpty(Model.Project.CoverPhotoPath))
                                {
                                    <img class="img-fluid" src="@Model.Project.CoverPhotoPath" alt="@Model.Project.Title">
                                }
                                else
                                {
                                    <img class="img-fluid" src="~/img/blog_image.png" alt="Project Cover Image">
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            @switch (Model.RCName)
                            {
                                case "ru":
                                    @Html.Raw(Model.Project.ContentRu)
                                    break;
                                case "uz":
                                    @Html.Raw(Model.Project.ContentUz)
                                    break;
                                default:
                                    @Html.Raw(Model.Project.Content)
                                    break;
                            }
                        </div>
                        <div class="col-lg-5">
                            <div class="portfolio_right_text mt-30">
                                <h4 class="text-uppercase">@Localizer["Project Info"]</h4>
                                <p>
                                    @ViewData["ProjectTitle"]
                                </p>
                                <ul class="list">
                                    <li><span>@Localizer["Rating"]</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                    <li><span>@Localizer["Completed"]</span>: @Model.Project.PostedDate.ToString("dd MMMM, yyyy")</li>
                                    <li><span>@Localizer["Tags"]</span>: @Tag.ConvertTagsToString(Model.Project.Tags, ' ')</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Portfolio Details Area =================-->