@page
@model Sh.Web.Pages.AboutModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["AboutTitle"];
}
@section Head {
    <meta name="author" content="@Localizer["AuthorFullName"]" />
    <meta name="keywords" content="@Localizer["AboutKeyWords"]" />
    <meta name="description" content="@Localizer["AboutDescription"]" />
    <meta name="image" content="https://shakhlo.uz/img/favicon.png" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://shakhlo.uz/about" />
    <meta property="og:title" content="@Localizer["AboutTitle"]" />
    <meta property="og:description" content="@Localizer["AboutDescription"]" />
    <meta property="og:image" content="https://shakhlo.uz/img/favicon.png" />

    <meta name="twitter:card" content="@Localizer["AboutCard"]" />
    <meta name="twitter:url" content="http://shakhlo.uz/about" />
    <meta name="twitter:title" content="@Localizer["AboutTitle"]" />
    <meta name="twitter:description" content="@Localizer["AboutDescription"]" />
    <meta name="twitter:creator" content="@Localizer["AuthorFullName"]" />
    <meta name="twitter:image" content="https://shakhlo.uz/img/favicon.png" />
}
@section CSS {
    <link rel="canonical" href="https://shakhlo.uz/about" />
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/about_style.css" />
    <link rel="stylesheet" href="~/css/testimonial_style.css" />
}

<!--================ Start Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>@Localizer["About Me"]</h2>
                <div class="page_link">
                    <a asp-area="" asp-page="/Index">@Localizer["Home"]</a>
                    <a asp-area="" asp-page="/About">@Localizer["About"]</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Banner Area =================-->
<!--================ Start About Me Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-12">
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                {
                    <a asp-page="/Dossier/Edit" asp-route-id="@Model.AboutInfo.Id" class="action_btn"><i class="fas fa-pen"></i></a>
                }
            </div>
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="mx-auto" src="@Model.AboutInfo.CoverPhotoPath" alt="@Model.AboutInfo.FirstName @Model.AboutInfo.LastName">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <p class="top_text">@Localizer["About me"] <span></span></p>
                    @switch (Model.RCName.ToLower())
                    {
                        case "ru":
                            <h2>
                                @Model.AboutInfo.FirstNameRu @Model.AboutInfo.LastNameRu
                            </h2>
                            <h4>
                                @Model.AboutInfo.PositionRu
                            </h4>
                            <p>
                                @Model.AboutInfo.DescriptionRu
                            </p>
                            break;
                        case "uz":
                            <h2>
                                @Model.AboutInfo.FirstNameUz @Model.AboutInfo.LastNameUz
                            </h2>
                            <h4>
                                @Model.AboutInfo.PositionUz
                            </h4>
                            <p>
                                @Model.AboutInfo.DescriptionUz
                            </p>
                            break;
                        default:
                            <h2>
                                @Model.AboutInfo.FirstName @Model.AboutInfo.LastName
                            </h2>
                            <h4>
                                @Model.AboutInfo.Position
                            </h4>
                            <p>
                                @Model.AboutInfo.Description
                            </p>
                            break;
                    }
                    @if (Model.AboutInfo.CVFilePath != null)
                    {
                        <a class="primary_btn" href="@Model.AboutInfo.CVFilePath"><span>@Localizer["Download CV"]</span></a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About Me Area =================-->
<!--================ Start Testimonial Area =================-->
<section class="testimonial_area pb-xl-300px">
    <div class="container">
        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
        {
            <a asp-page="/Dossier/Create" class="action_btn rounded-0 primary-bg text-white mb-30"><i class="fas fa-plus-square"></i>&nbsp;@Localizer["Add New Testimonial"]</a>
        }
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <p class="top_text">@Localizer["My Testimonials"] <span></span></p>
                    <h2>@Localizer["Honourable Mentors Says <br> About Me"] </h2>
                </div>
            </div>
        </div>

        <div class="owl-carousel owl-theme testimonial-slider ">

            @foreach (var dossier in Model.Dossiers)
            {
                <div class="testimonial-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="testi-img mb-4 mb-lg-0">
                                <img src="@dossier.CoverPhotoPath" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="testi-right">
                                @switch (Model.RCName.ToLower())
                                {
                                    case "ru":
                                        <h4>@dossier.FirstNameRu @dossier.LastNameRu</h4>
                                        <p><small>@dossier.PositionRu</small></p>
                                        <p>@dossier.DescriptionRu</p>
                                        break;
                                    case "uz":
                                        <h4>@dossier.FirstNameUz @dossier.LastNameUz</h4>
                                        <p><small>@dossier.PositionUz</small></p>
                                        <p>@dossier.DescriptionUz</p>
                                        break;
                                    default:
                                        <h4>@dossier.FirstName @dossier.LastName</h4>
                                        <p><small>@dossier.Position</small></p>
                                        <p>@dossier.Description</p>
                                        break;
                                }
                                <ul class="star_rating mt-4">
                                    <li><span><i class="fas fa-star"></i></span></li>
                                    <li><span><i class="fas fa-star"></i></span></li>
                                    <li><span><i class="fas fa-star"></i></span></li>
                                    <li><span><i class="fas fa-star"></i></span></li>
                                    <li><span><i class="fas fa-star"></i></span></li>
                                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                                    {
                                        <br />
                                        <br />
                                        <li><a asp-page="/Dossier/Edit" asp-route-id="@dossier.Id" class="action_btn"><i class="fas fa-pen"></i></a></li>
                                        <li><a asp-page="/Dossier/Delete" asp-route-id="@dossier.Id" class="action_btn"><i class="fas fa-trash"></i></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!--================ End Testimonial Area =================-->

@section Scripts {
    <script src="js/theme.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script>
        (function ($) {
            'use strict';

            /*----------------------------------------------------*/
            /*  Testimonials Slider
            /*----------------------------------------------------*/
            if ($('.testimonial-slider').length) {
                $('.testimonial-slider').owlCarousel({
                    loop: false,
                    margin: 30,
                    items: 1,
                    autoplay: false,
                    smartSpeed: 2500,
                    dots: true
                });
            }

        })(jQuery);
    </script>
}