@page
@model Sh.Web.Pages.ContactModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Contacts";
}
@section CSS{
    <link rel="stylesheet" href="~/css/contact_style.css" />
}

<!--================ Start Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>@Localizer["Contact Me"]</h2>
                <div class="page_link">
                    <a asp-area="" asp-page="/Index">@Localizer["Home"]</a>
                    <a asp-page="/Contact">@Localizer["Contacts"]</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Banner Area =================-->
<!-- ================ contact section start ================= -->
<section class="section-margin">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
            <div style="width: 100%">
                <iframe scrolling="no" marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?width=100%25&amp;height=480&amp;hl=en&amp;q=39.65625780862008,66.9221878051758+(Home)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                        width="100%" height="480" frameborder="0">
                </iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">@Localizer["Get in Touch"]</h2>
            </div>
            <div class="col-lg-8 mb-4 mb-lg-0">
                <form id="MsgForm" class="form-contact contact_form" method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input id="AuthorName" class="form-control" type="text" placeholder="@Localizer["Enter your name"]">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input id="AuthorEmail" class="form-control" type="email" placeholder="@Localizer["Enter email address"]">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input id="MsgSubject" class="form-control" type="text" placeholder="@Localizer["Enter Subject"]">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea id="MsgContent" class="form-control w-100" cols="30" rows="9" placeholder="@Localizer["Enter Message"]"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-lg-3">
                        <button type="submit" class="primary_btn button-contactForm">@Localizer["Send Message"]</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fas fa-home"></i></span>
                    <div class="media-body">
                        <h3>@Model.Dossier.Address</h3>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fas fa-mobile-alt"></i></span>
                    <div class="media-body">
                        <h3><a href="tel:@Model.Dossier.PhoneNumber">@Model.Dossier.PhoneNumber</a></h3>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fas fa-envelope"></i></span>
                    <div class="media-body">
                        <h3><a href="mailto:@Model.Dossier.Email">@Model.Dossier.Email</a></h3>
                        <p>@Localizer["Send me your query anytime!"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#MsgForm").submit(function (e) {
            e.preventDefault();
            var authorName = $('#AuthorName').val();
            var authorEmail = $('#AuthorEmail').val();
            var msgSubject = $('#MsgSubject').val();
            var msgContent = $('#MsgContent').val();
            $.ajax({
                type: "POST",
                url: "/Contact?handler=Message",
                data: {
                    authorName: authorName,
                    authorEmail: authorEmail,
                    msgSubject: msgSubject,
                    msgContent: msgContent
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (result) {
                    $('#MsgForm').trigger("reset");
                    alert(result);
                }
            });
        });
    </script>
}