@page
@model ErrorModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Error"];
}

@section CSS{
    <link rel="stylesheet" href="~/css/contact_style.css" />
}

<!--================ Start Temp Area =================-->
<section class="temp_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">

            <div class="col-lg-6 mt-sm-50 mx-auto text-center">
                <div class="main_title">
                    <p class="top_text">@ViewData["Title"]&nbsp;<span></span></p>
                    <h3>
                        @Localizer["An error occurred while processing your request"]
                    </h3>
                    <h4>
                        @if (Model.ShowRequestId)
                        {
                            <strong>@Localizer["Request ID:"]</strong> <code>@Model.RequestId</code>
                        }
                    </h4>
                    <a class="primary_btn" asp-area="" asp-page="/Index"><span>@Localizer["Home"]</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Temp Area =================-->
