@page
@model IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home page";
}

@section CSS {
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/about_style.css" />
    <link rel="stylesheet" href="~/css/testimonial_style.css" />
    <link rel="stylesheet" href="~/css/portfolio_style.css" />
    <link rel="stylesheet" href="~/css/blog_style.css" />
    <link rel="stylesheet" href="~/css/home_style.css" />
}

<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6">
                    <div class="banner_content">
                        <h3>@Localizer["Hi There"]&nbsp;!</h3>
                        <h1 class="text-uppercase">@Localizer["I am Shakhlo"]</h1>
                        <h5 class="text-uppercase">
                            @switch (Model.RCName.ToLower())
                            {
                                case "ru":
                                    @Model.AboutInfo.PositionRu
                                    break;
                                case "uz":
                                    @Model.AboutInfo.PositionUz
                                    break;
                                default:
                                    @Model.AboutInfo.Position
                                    break;
                            }
                        </h5>
                        <div class="social_icons my-5">
                            <a href="#"><i class="lni lni-youtube"></i></a>
                            <a href="#"><i class="lni lni-instagram-original"></i></a>
                            <a href="#"><i class="lni lni-telegram-original"></i></a>
                        </div>
                        <a class="primary_btn" asp-page="/Portfolio/List"><span>@Localizer["See My Works"]</span></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="home_right_img">
                        <img class="mx-auto" src="@Model.AboutInfo.CoverPhotoPath" alt="@Model.AboutInfo.FirstName">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->
<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="mx-auto" src="@Model.AboutInfo.CoverPhotoPath" alt="@Model.AboutInfo.FirstName">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <p class="top_text">@Localizer["About me"]&nbsp;<span></span></p>
                    <h2>
                        @switch (Model.RCName.ToLower())
                        {
                            case "ru":
                                @Model.AboutInfo.PositionRu
                                break;
                            case "uz":
                                @Model.AboutInfo.PositionUz
                                break;
                            default:
                                @Model.AboutInfo.Position
                                break;
                        }
                    </h2>
                    <p>
                        @ViewData["ShortDescription"]
                    </p>
                    <a class="primary_btn" asp-area="" asp-page="/About"><span>@Localizer["Read More"]</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About Us Area =================-->
<!--================ Start Testimonial Area =================-->
<section class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <p class="top_text">@Localizer["My Testimonials"]&nbsp;<span></span></p>
                    <h2>@Localizer["Honourable Mentors Says <br> About Me"] </h2>
                </div>
            </div>
        </div>

        <div class="owl-carousel owl-theme testimonial-slider ">
            @foreach (var dossier in Model.Dossiers)
            {
                <div class="testimonial-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="testi-img mb-4 mb-lg-0">
                                <img src="@dossier.CoverPhotoPath" alt="@dossier.FirstName @dossier.LastName">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="testi-right">
                                @switch (Model.RCName.ToLower())
                                {
                                    case "ru":
                                        <h4>@dossier.FirstNameRu @dossier.LastNameRu</h4>
                                        <p><small>@dossier.PositionRu</small></p>
                                        <p>@dossier.DescriptionRu</p>
                                        break;
                                    case "uz":
                                        <h4>@dossier.FirstNameUz @dossier.LastNameUz</h4>
                                        <p><small>@dossier.PositionUz</small></p>
                                        <p>@dossier.DescriptionUz</p>
                                        break;
                                    default:
                                        <h4>@dossier.FirstName @dossier.LastName</h4>
                                        <p><small>@dossier.Position</small></p>
                                        <p>@dossier.Description</p>
                                        break;
                                }
                                <ul class="star_rating mt-4">
                                    <li><span><i class="fas fa-star"></i></span></li>
                                    <li><span><i class="fas fa-star"></i></span></li>
                                    <li><span><i class="fas fa-star"></i></span></li>
                                    <li><span><i class="fas fa-star"></i></span></li>
                                    <li><span><i class="fas fa-star"></i></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================ End Testimonial Area =================-->
<!--================ Start Portfolio Area =================-->
<section class="portfolio_area" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <p class="top_text">@Localizer["My Portfolio"]&nbsp;<span></span></p>
                    <h2>@Localizer["Check My Recent <br> Works"] </h2>
                </div>
            </div>
        </div>

        <div class="filters-content">
            <div class="row portfolio-grid">
                <div class="grid-sizer col-md-3 col-lg-3"></div>
                @{ var counter = 0;}
                @foreach (var project in Model.Projects)
                {
                    if (counter == 0)
                    {
                        <div class="col-lg-6 col-md-6 all">
                            <a asp-page="/Portfolio/Index" asp-route-slug="@project.Slug">
                                <div class="single_portfolio">
                                    <img class="img-fluid w-100" src="@project.CoverPhotoPath" alt="@project.Title">
                                    <div class="overlay"></div>
                                    <div class="short_info">
                                        <h4>
                                            @switch (Model.RCName.ToLower())
                                            {
                                                case "ru":
                                                    @project.TitleRu
                                                    break;
                                                case "uz":
                                                    @project.TitleUz
                                                    break;
                                                default:
                                                    @project.Title
                                                    break;
                                            }
                                        </h4>
                                        @foreach (var tag in project.Tags)
                                        {
                                            <p>#@tag</p>
                                        }
                                    </div>
                                </div>
                            </a>
                        </div>
                    }{counter++;}

                    <div class="col-lg-3 col-md-6 all">
                        <a asp-page="/Portfolio/Index" asp-route-slug="@project.Slug">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="@project.CoverPhotoPath" alt="@project.Title">
                                <div class="overlay"></div>
                                <div class="short_info">
                                    <h4>
                                        @switch (Model.RCName.ToLower())
                                        {
                                            case "ru":
                                                @project.TitleRu
                                                break;
                                            case "uz":
                                                @project.TitleUz
                                                break;
                                            default:
                                                @project.Title
                                                break;
                                        }
                                    </h4>
                                    @foreach (var tag in project.Tags)
                                    {
                                        <p>#@tag</p>
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!--================ End Portfolio Area =================-->
<!--================ Start Blog Area =================-->
<section class="blog-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <p class="top_text">@Localizer["My blog"]&nbsp;<span></span></p>
                    <h2>@Localizer["Latest Posts From <br> My Blog"] </h2>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var post in Model.Blogs)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog">
                        <div class="thumb">
                            <img class="img-fluid" src="@post.CoverPhotoPath" alt="@post.Title">
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a><i class="fas fa-eye"></i> @post.ViewCount</a>
                                <a><i class="fas fa-calendar"></i> @post.PostedDate.ToString("dd MMMM, yyyy")</a>
                            </div>
                            @switch (Model.RCName.ToLower())
                            {
                                case "ru":
                                    <a class="d-block" asp-page="/Blog/Index" asp-route-slug="@post.Slug">
                                        <h4>@Domain.Entities.BlogModel.Blog.GetShortContent(post.TitleRu, 30)</h4>
                                    </a>
                                    <div class="text-wrap">
                                        <p>
                                            @Domain.Entities.BlogModel.Blog.GetShortContent(post.ContentRu, 120)
                                        </p>
                                    </div>
                                    break;
                                case "uz":
                                    <a class="d-block" asp-page="/Blog/Index" asp-route-slug="@post.Slug">
                                        <h4>@Domain.Entities.BlogModel.Blog.GetShortContent(post.TitleUz, 30)</h4>
                                    </a>
                                    <div class="text-wrap">
                                        <p>
                                            @Domain.Entities.BlogModel.Blog.GetShortContent(post.ContentUz, 120)
                                        </p>
                                    </div>
                                    break;
                                default:
                                    <a class="d-block" asp-page="/Blog/Index" asp-route-slug="@post.Slug">
                                        <h4>@Domain.Entities.BlogModel.Blog.GetShortContent(post.Title, 30)</h4>
                                    </a>
                                    <div class="text-wrap">
                                        <p>
                                            @Domain.Entities.BlogModel.Blog.GetShortContent(post.Content, 120)
                                        </p>
                                    </div>
                                    break;
                            }
                            <a asp-page="/Blog/Index" asp-route-slug="@post.Slug" class="primary_btn2">@Localizer["Learn More"]</a>
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>
</section>
<!--================ End Blog Area =================-->

@section Scripts {
    <!-- For Portfolio Area -->
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope-min.js"></script>

    <!-- For Testimonials -->
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script>
        (function ($) {
            'use strict';

            /*----------------------------------------------------*/
            /*  Testimonials Slider
            /*----------------------------------------------------*/
            if ($('.testimonial-slider').length) {
                $('.testimonial-slider').owlCarousel({
                    loop: false,
                    margin: 30,
                    items: 1,
                    autoplay: false,
                    smartSpeed: 2500,
                    dots: true
                });
            }

            /* ---------------------------------------------*/
            /*  Isotope js Starts
            /*--------------------------------------------- */
            $(window).on('load', function () {
                
                if (document.getElementById('portfolio')) {
                    var $workGrid = $('.portfolio-grid').isotope({
                        itemSelector: '.all',
                        percentPosition: true,
                        masonry: {
                            columnWidth: '.grid-sizer'
                        }
                    });
                }
            });
        })(jQuery);
    </script>
}