@page
@model Sh.Web.Pages.Blog.DeleteModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Delete";
}

@section CSS{ 
    <link rel="stylesheet" href="~/css/blog_style.css" />
}
<!--================ Start Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>@Localizer["Dlete this Article"]"</h2>
                <div class="page_link">
                    <a asp-area="" asp-page="/Index">@Localizer["Home"]</a>
                    <a asp-page="/Blog/List">@Localizer["Blog"]</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Banner Area =================-->
<!--================Blog Area =================-->
<section class="blog_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0 mx-auto">
                <div class="blog_left_sidebar">
                    <h2>@Localizer["Are you sure you want to delete this article?"]</h2>
                    <dl class="row mt-50">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Blog.Slug)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Blog.Slug)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Blog.CoverPhotoPath)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Blog.CoverPhotoPath)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Blog.PostedDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Blog.PostedDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Blog.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Blog.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Blog.TitleRu)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Blog.TitleRu)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Blog.TitleUz)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Blog.TitleUz)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Blog.Content)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Blog.Content)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Blog.ContentRu)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Blog.ContentRu)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Blog.ContentUz)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Blog.ContentUz)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Blog.ViewCount)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Blog.ViewCount)
                        </dd>
                    </dl>

                    <form method="post">
                        <input type="hidden" asp-for="Blog.Id" />
                        <button type="submit" class="primary_btn button-contactForm">@Localizer["Delete"]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->